*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	background-color: #444444;
	

}
img{
	max-width: 100%;
	height: auto;
}
video{
	max-width: 100%;
	height: auto;
}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
h1{
  color: white;
  text-align: center;
}
h2{
 color: white;
 margin-bottom: 50px;

}
h3{
  color: orange;
}
main{
	max-width: 85%;
	margin: 0 auto;
	background-image: url(img/bg_body.svg);
}
header{
	text-align: center;
	background: #333333;
	padding-bottom: 30px;
}
header .logo{
	background: white;
}
nav{
	margin-left: 127px;
}
nav ul li{
	margin-top: 30px;
}
nav ul li a{
	color: white;
}
.banniere{
	
}
.banniere h1 span{
  color: orange;
}
section{
	margin-top: 60px;
}
section article{
	background: white;
	margin-top: 30px;
	text-align: center;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 40px;
}
section h2 span{
	color: orange;
}
section article img{
	width: 50%;
}
section article p{
	line-height: 197%;
}
section article h3::after{
	content: "";
	display: block;
	border: 1px solid orange;
	margin: 20px 20px;
}
.more{
	margin-top: 20px;
}
.more a{
	background: orange;
	color: white;
	padding: 10px 60px 10px 60px;
}
section>p{
	text-align: center;
	line-height: 197%;
	color: white;
}
section .reseaux i{
	display: block;
    text-align: center;
    font-size: 254%;
    color: white;
    margin-top: 45px;
}
section video{
	margin-top: 40px;
}
footer{
	text-align: center;
}
footer .text{
	padding: 12%;
	margin-top: 100px;
}
footer .text h4{
	color: white;
	margin-bottom: 40px;
}
footer .text p{
	color: white;
	line-height: 197%;
}